body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container {
    background:rgb(31, 29, 29);
    margin: 0 auto;
    text-align: center;
    /* max-width: 600px; */
    max-width: 80%;
    margin-top: 50px;
    padding: 50px;
}

button {
    background: #03DAC6;
    width: 80%;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(56, 43, 43, 0.75);
}

.title-text, .note, footer {
    color: rgba(255, 255, 255, 0.404);
}

